<ion-header>
  <ion-navbar>
    <ion-title>Freedom Library</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="background-home">
  <ion-list>
    <ion-item tappable *ngFor="let buku of listBuku">
      <ion-grid (click)="toDetail(buku.gambar, buku.judul, buku.pengarang, buku.tahun, buku.pinjam)">
        <ion-row>
          <ion-col>
            <img class="img" width="80" height="80" [src]="buku.gambar">
          </ion-col>
          <ion-col>
              <p text-left>Judul: {{buku.judul}}</p>
              <p text-left>Pengarang: {{buku.pengarang}}</p>
              <p text-left>Tahun Terbit: {{buku.tahun}}</p>
              <p text-left *ngIf="!buku.pinjam; else notShow">Bisa dipinjam</p>
              <ng-template #notShow><p text-right right>Sudah dipinjam</p></ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>  
    </ion-item>
  </ion-list>

  
</ion-content>
